
<table>
  <tr>
    <td>Nome</td>
    <td><input type="text" #nome class="form-control"></td>
  </tr>
  <tr>
    <td>Cognome</td>
    <td><input type="text"#cognome class="form-control"></td>
  </tr>
  <tr>
    <td>Città</td>
    <td><input type="text" #citta class="form-control"></td>
  </tr>
  <tr>
    <td>Username</td>
    <td><input type="text" #username class="form-control"></td>
  </tr>
</table>
<button style="margin-top: 10px" class="myButton"  type="button" (click)="userProperties(nome.value, cognome.value, citta.value, username.value)">Salva</button>

